  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<div class="art">
    <div class="container">
        <div class="grid">
            <div class="cell">
                <div class="img">
                <%= image_tag("akira1.jpg", size: "300px") %>
                </div>
            </div>
        </div>
        <div class="grid">
            <div class="cell">
                <div class="img"><%= image_tag("akira2.jpg", size: "300px") %>
                </div>
                
            </div>
        </div>
        <div class="grid">
            <div class="cell">
                <div class="img"><%= image_tag("bart.jpg", size: "300px") %>
                </div>
               
            </div>
        </div>
        <div class="grid">
            <div class="cell">
               <div class="img"><%= image_tag("beagle.jpg", size: "300px") %>
               </div>
                
            </div>
        </div>
    </div>
    <div class="container">
        <div class="grid">
            <div class="cell">
                <div class="img"><%= image_tag("etrigan.jpg", size: "300px") %>
                </div>
                
            </div>
        </div>
        <div class="grid">
            <div class="cell">
                <div class="img"><%= image_tag("kaws.jpg", size: "300px") %>
                </div>
                
            </div>
        </div>
        <div class="grid">
            <div class="cell">
                <div class="img"><%= image_tag("mouse.jpg", size: "300px") %>
                </div>
               
            </div>
        </div>
        <div class="grid">
            <div class="cell">
               <div class="img"><%= image_tag("akira2.jpg", size: "300px") %>
               </div>
                
            </div>
        </div>
    </div>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla in nunc rutrum, mollis risus vel, tempor nisi. Phasellus mollis velit sit amet auctor cursus. Nullam ornare massa convallis, feugiat eros in, sagittis ligula. Nam vestibulum elementum sollicitudin. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce laoreet ante et hendrerit aliquet. Maecenas imperdiet aliquam ultricies. Nunc a cursus ex. Pellentesque sagittis rutrum accumsan. Mauris at mi mollis, ultrices augue et, accumsan purus. Suspendisse tincidunt sed massa eu maximus. Integer ac elementum nisi, et pharetra enim.
<br>Aliquam pellentesque ligula sit amet eros consequat, nec dignissim ex vestibulum. Aliquam cursus erat tortor, id dignissim nulla venenatis id. Quisque eget congue nunc. Integer non nisl sapien. Donec cursus faucibus justo quis viverra. Aenean pellentesque semper arcu, non sollicitudin est porttitor vitae. Cras a quam eget turpis congue pulvinar. Nullam sit amet placerat nisi, sodales ullamcorper tortor. Nunc rutrum congue aliquet. Fusce vel elit et metus vehicula finibus vel et eros. Nam accumsan sed lacus id efficitur. Quisque vel dignissim arcu. Donec quis sem maximus, molestie enim a, faucibus magna. Ut mauris arcu, tincidunt vel elementum et, dignissim lobortis nisl. Cras justo diam, fringilla dictum quam nec, suscipit finibus lacus. Fusce quis tortor sem.
<br>In ac dui quam. Phasellus ac dapibus enim. Duis mattis a purus sit amet tempus. Aliquam pretium lorem id est maximus tincidunt. Donec eget tincidunt tortor. Morbi faucibus libero sed mi tincidunt sollicitudin. Pellentesque sollicitudin fermentum convallis. Curabitur urna nisl, efficitur quis lacus non, posuere euismod mi. Cras accumsan mi eget metus sodales laoreet. Maecenas quis congue ipsum, ut volutpat purus. Curabitur vitae magna et elit ullamcorper ultricies quis sed metus.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla in nunc rutrum, mollis risus vel, tempor nisi. Phasellus mollis velit sit amet auctor cursus. Nullam ornare massa convallis, feugiat eros in, sagittis ligula. Nam vestibulum elementum sollicitudin. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce laoreet ante et hendrerit aliquet. Maecenas imperdiet aliquam ultricies. Nunc a cursus ex. Pellentesque sagittis rutrum accumsan. Mauris at mi mollis, ultrices augue et, accumsan purus. Suspendisse tincidunt sed massa eu maximus. Integer ac elementum nisi, et pharetra enim.
<br>Aliquam pellentesque ligula sit amet eros consequat, nec dignissim ex vestibulum. Aliquam cursus erat tortor, id dignissim nulla venenatis id. Quisque eget congue nunc. Integer non nisl sapien. Donec cursus faucibus justo quis viverra. Aenean pellentesque semper arcu, non sollicitudin est porttitor vitae. Cras a quam eget turpis congue pulvinar. Nullam sit amet placerat nisi, sodales ullamcorper tortor. Nunc rutrum congue aliquet. Fusce vel elit et metus vehicula finibus vel et eros. Nam accumsan sed lacus id efficitur. Quisque vel dignissim arcu. Donec quis sem maximus, molestie enim a, faucibus magna. Ut mauris arcu, tincidunt vel elementum et, dignissim lobortis nisl. Cras justo diam, fringilla dictum quam nec, suscipit finibus lacus. Fusce quis tortor sem.
<br>In ac dui quam. Phasellus ac dapibus enim. Duis mattis a purus sit amet tempus. Aliquam pretium lorem id est maximus tincidunt. Donec eget tincidunt tortor.
</div>